:root {
  --orange: #ef7559;
  --blue:   #0a8cb3;
  --hlblue: #08c4fd;
  --turq:   #607b63;
  --grey:   #6b6464;
  --yellow: #f4f11a;
  --red:    #fd0a0a;
  --green:  #10e810;
}

a:hover {
  text-decoration: none;
}

body {
  background: url('/media/bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
  margin-top: 4rem;
}

body:before {
  content: "";
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(188, 214, 140, 0.4);
  z-index: -5;
}

.grey {
  color: var(--grey);
}

.main-cont {
  min-height: 80vh;
}

.audiowide {
  font-family: 'Audiowide', cursive;
}

.navbar {
  background: rgba(51, 160, 185, 0.8);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
}

.navbar-dark .navbar-brand {
    color: var(--grey);
}

.navbar-dark .navbar-brand:hover {
    color: var(--grey);
}

.bugs {
  color: var(--yellow);
  font-size: 1rem;
}

.fa-bug {
  color: var(--red);
}

.fa-users-cog {
  color: var(--hlblue);
}

.hide {
  display: none;
}

.card {
  opacity: 0.8;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.3);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card a {
  text-decoration: none;
}

.list-view:hover {
  opacity: 0.9;
  animation-duration: 0.25s;
  border-left: 5px solid var(--blue);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .card-title {
  color: var(--orange);
}

.card .card-title:hover {
  color: #dd3e19;
  text-decoration: none;
}

.card-header {
  padding: .5rem .75rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.user-name {
  color: var(--orange);
}

.author {
  display:     inline-block;
  min-width:   3rem;
  font-family: 'Lato', sans-serif;
}

.card a.author{
  color: var(--blue);
}

.card a.author:hover {
  color: var(--green);
}

span a.author{
  color: var(--blue);
}

.user-replies {
  padding-top:    0;
  padding-bottom: 0;
}

.user-replies p{
  font-size:    .8rem;
  margin-bottom: 0rem;
}

.user-replies hr{
  margin-top:    0;
  margin-bottom: 0;
}

.upvotes, .views {
  border-right: 2px solid var(--orange);
}

.edit-post {
  color: #08e072;
  font-size: 20px;
}

.rubber {
  color:     var(--red);
  font-size: 20px;
}

.viewed {
  background: #9eff47e3;
  color:      #6b6868;
}

.replied {
  background: #c8eac8ba;
  color:      #6b6868;
}

.voted {
  background: var(--hlblue);
  color:      #fff;
}

.viewed {
  font-size: 13px;
}

.ticket-type {
  font-size: 12px;
}

.account-img {
  height: 5rem;
  width:  5rem;
  margin-right:  0.5rem;
  margin-bottom: 0.5rem;
}

span.badge {
  min-width: 5rem;
}

.logout {
  height: 70vh;
}

/* Charts */
.upvotes-charts {
  display: none;
  margin-top: 1rem;
}

.graph2 {
  /* margin-top: 2rem; */
}
/* End Charts */


/* forms */
form {
  background: #e4e4c9;
  padding: 2rem;
  opacity: 0.8;
  color:   var(--blue);
  border-radius: 1%;
}

.shadow {
  box-shadow: 0 4rem 5rem rgba(8, 112, 184, 0.7);
}

form li {
  list-style: none;
}

form ul {
  padding-left: 0;
}

form a:hover {
  text-decoration: none;
}

.delete-post, .login, .comment {
  height: 70vh;
}

.confirm-delete {
  color:       var(--orange);
  font-weight: bold;
}

/* End Forms */

/* BS Styles Overwrite */
.badge-pill {
  border-radius: 2px;
}

.badge-warning {
  background: var(--yellow);
  color:      var(--grey);
}

.btn-outline-danger {
  color:        var(--orange);
  border-color: var(--orange);
}

.btn-outline-danger:active {
  border-color: var(--orange);
  background:   var(--orange);
}

.btn-outline-danger:hover {
  border-color: var(--orange);
  background:   var(--orange);
}

.btn {
  border-radius: 0;
}
/* End BS Overwrite */

.blink {
    animation:         blink 2s steps(5, start) infinite;
    -webkit-animation: blink 2s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

  /* Pulse icon */
  .pulse{
    -webkit-animation: pulse 2s ease-in;
    -moz-animation:    pulse 2s ease-in;
     animation:        pulse 2s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count:    infinite;
    animation-iteration-count:         infinite;
  }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(1.0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(1.2);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(1.4);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1.6);
    opacity: 0.0;
 }
}
  /* End Pulse button */

/* Footer */
#footer {
  background: var(--turq);
  opacity:    0.9;
}

#footer a {
  color: #ffffff;
  text-decoration:  none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
	font-size:    25px;
	-webkit-transition: .5s all ease;
	-moz-transition:    .5s all ease;
	transition:         .5s all ease;
}

#footer ul.social li:hover a i {
	font-size:   30px;
	margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a{
	color: #ffffff;
}

#footer ul.social li a:hover{
	color: #eeeeee;
}

#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition:    .5s all ease;
	transition:         .5s all ease;
}

#footer ul.quick-links li:hover{
	padding:     3px 0;
	margin-left: 5px;
	font-weight: 700;
}

#footer ul.quick-links li a i{
	margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
/* End Footer */


/* Logout Page */
.goodbye {
	height: 70vh;
  margin-top: -8px;
	background-image:
  linear-gradient(to right bottom,
   #6b6464ad,
   var(--turq));
  background-size:     cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
}

.text-box {
	position: absolute;
	top:  50%;
	left: 50%;
	transform:  translate(-50%, -50%);
	text-align: center;
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 30px;
}

.heading-primary-main {
	display:        block;
	font-size:      26px;
	font-weight:    400;
	letter-spacing: 5px;
}

.heading-primary-sub {
	display:        block;
	font-size:      18px;
	font-weight:    700;
	letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
	text-transform:  uppercase;
	text-decoration: none;
	padding:    10px 20px;
	display:    inline-block;
	transition: all .2s;
	position:   relative;
}

.btn:hover {
	transform:  translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: var(--grey);
}

.btn:active {
  transform:  translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color:     #777;
	font-size: 14px;
}
/* End Logout Page */


/* About Page */

.about-section {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.ptext{
  width:100%;
  text-align:center;
  color:#000;
  font-size:2rem;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .bord{
  background-color:#666;
  color:#fff;
  padding:1.5rem;
}

.about {
  background: white;
  padding: 2rem;
}

.about-header {
  margin-bottom: 2rem;
}

.wrap {
  display: flex;
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.wrap:hover {
  background: linear-gradient(135deg,#0a8cb3 0%,#08c4fd 100%);
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}

.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}

h2 {
  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
}

.display-5 {
  font-size: 1.4rem;
}
.mbr-bold {
  font-weight: 700;
}

.about-card {
  padding-top:    0.5rem;
  padding-bottom: 0.5rem;
  line-height:    25px;
}


/* End About Page */

/* Media Queries */
/* Extra Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {

  .views-column, .upvotes-column {
    display: none;
  }

  .bugs-section {
    min-height: 60vh;
  }

  h5.card-title {
    font-size: 14px;
  }

  p.card-text {
    font-size: 14px;
  }

  .material-icons {
    font-size: 18px;
  }

  .card-header {
    padding:   .2rem .4rem;
  }

  h6.ticket-title {
    font-size:  14px;
  }

  h6 {
   font-size:   14px;
  }

  p.confirm-delete {
    font-size:  14px;
  }

  .heading-primary-main {
  	font-size:      14px;
  	letter-spacing: 1px;
  }

  .heading-primary-sub {
  	font-size:      10px;
  	letter-spacing: 1px;
  }
}


/* Small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .card-header {
    margin-top: .5rem;
  }

  .bugs-section {
    min-height: 70vh;
  }

  .views-column {
    padding-right: 0;
  }

  .upvotes-column {
    padding-left: 0;
  }

  h6 {
   font-size:  14px;
  }

  .ticket-title {
    font-size: 16px;
  }

  .heading-primary-main {
  	font-size:      18px;
  	letter-spacing: 2px;
  }

  .heading-primary-sub {
  	font-size:      12px;
  	letter-spacing: 1px;
  }

  .add-comments, .register-header, .login-header {
    font-size: 15px;
  }

  form li {
    font-size: 10px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .bugs-section {
    min-height: 100vh;
  }

  .heading-primary-main {
  	font-size:      20px;
  	letter-spacing: 2px;
  }

  .heading-primary-sub {
  	font-size:      16px;
  	letter-spacing: 7.4px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* .navbar-dark .navbar-nav .nav-link {
    border-bottom: 2px solid transparent;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 2px solid var(--grey);
  } */

  nav a {
    opacity:  1;
    position: relative;
  }

  nav a.nav-link::before {
    content: '';
    display: block;
    height:  2px;
    background: var(--grey);
    position:   absolute;
    bottom:     -.2em;
    left:  0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a.nav-link:hover::before {
    transform: scale(1,1);
  }

  .upvotes-charts {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
