:root {
  --orange: #ef7559;
  --blue: #0a8cb3;
}

body {
  background: url('/media/bg5.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* font-family: 'Lato', sans-serif; */
}

body:before {
  content: "";
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(188, 214, 140, 0.4);
  z-index: -5;
}

.navbar {
  background: rgba(179, 167, 83, 0.62);
}

.bugs {
  color: #b2b37ad4;
}

.card {
  opacity: 0.8;
  border-radius: 0;
}

.card a {
  color: var(--orange);
}

.card a:hover {
  color: #dd3e19;
  text-decoration: none;
}

.card-header {
    padding: .5rem .75rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.author {
  display: inline-block;
  min-width: 3rem;
  font-family: 'Lato', sans-serif;
}

.card a.author{
  color: var(--blue);
}

.card a.author:hover {
  color: #5c7786;
}

.replies {
  border-right: 2px solid var(--orange);
}

.views {
  border-right: 2px solid var(--orange);
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.audiowide {
  font-family: 'Audiowide', cursive;
}


/* forms */
form {
  /* background: #efefef;   */
}

input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}

input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}

.label-active {
  top: -3em;
}



/* endforms */
