:root {
  --orange: #ef7559;
  --blue:   #0a8cb3;
  --hlblue: #08c4fd;
  --yellow: #f4f11a;
  --red:    #fd0a0a;
  --green:  #10e810;
}

body {
  background: url('/media/bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* box-sizing: border-box; */
}

body:before {
  content: "";
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(188, 214, 140, 0.4);
  z-index: -5;
}

.main-cont {
  min-height: 80vh;
}

.audiowide {
  font-family: 'Audiowide', cursive;
}

.bugs-section {
  min-height: 100vh;
}

.navbar {
  background: rgba(51, 160, 185, 0.8);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
}

.bugs {
  color: var(--yellow);
  font-size: 1rem;
}

.fa-bug {
  color: var(--red);
}

.fa-users-cog {
  color: var(--hlblue);
}

.hide {
  display: none;
}

.card {
  opacity: 0.8;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 2px rgba(0,0,0,0.3);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card a {
  text-decoration: none;
}

.card-text {

}

.list-view:hover {
  opacity: 0.9;
  animation-duration: 0.25s;
  border-left: 5px solid var(--blue);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card .card-title {
  color: var(--orange);
}

.card .card-title:hover {
  color: #dd3e19;
  text-decoration: none;
}

.card-header {
  padding: .5rem .75rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.user-name {
  color: var(--orange);
}

.author {
  display: inline-block;
  min-width: 3rem;
  font-family: 'Lato', sans-serif;
}

.card a.author{
  color: var(--blue);
}

.card a.author:hover {
  color: #5c7786;
}

span a.author{
  color: var(--blue);
}

.user-replies {
  padding-top: 0;
  padding-bottom: 0;
}

.user-replies p{
  font-size: .8rem;
  margin-bottom: 0rem;
}

.user-replies hr{
  margin-top: 0;
  margin-bottom: 0;
}

.upvotes, .views {
  border-right: 2px solid var(--orange);
}

.edit-post {
  color: #08e072;
  font-size: 20px;
}

.rubber {
  color: #f93636;
  font-size: 20px;
}

.viewed {
  background: #9eff47e3;
  color: #6b6868;
}

.replied {
  background: #c8eac8ba;
  color: #6b6868;
}

.voted {
  background: var(--hlblue);
  color: #fff;
}

.viewed {
  font-size: 13px;
}

.ticket-type {
  font-size: 12px;
}

.account-img {
  height: 5rem;
  width:  5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

span.badge {
  min-width: 5rem;
}

.pagination {

}

/* Charts */
.upvotes-chart {
  display: none;
  margin-top: 1rem;
}

.graph2 {
  margin-top: 2rem;
}
/* End Charts */


/* forms */
form {
  background: #e4e4c9;
  padding: 2rem;
  opacity: 0.8;
  color: var(--blue);
  border-radius: 1%;
}

.shadow {
  box-shadow: 0 4rem 5rem rgba(8, 112, 184, 0.7);
}

form li {
  list-style: none;
}

form ul {
  padding-left: 0;
}

form a:hover {
  text-decoration: none;
}

/* End Form */

/* BS Overwrite */
.badge-pill {
    border-radius: 2px;
}

.badge-warning {
  background: var(--yellow);
  color: #646e77;
}
/* End BS Overwrite */

.blink {
    animation: blink 6s steps(5, start) infinite;
    -webkit-animation: blink 6s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

  /* Pulse icon */
  .pulse{
    -webkit-animation: pulse 2s ease-in;
    -moz-animation: pulse 2s ease-in;
     animation: pulse 2s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(1.0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(1.2);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(1.4);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1.6);
    opacity: 0.0;
 }
}
  /* End Pulse button */

/* Footer */
#footer {
  background: #607b75;
  opacity: 0.9;
}

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}

#footer ul.social li a i {
  margin-right: 5px;
	font-size: 25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.social li:hover a i {
	font-size: 30px;
	margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a{
	color: #ffffff;
}

#footer ul.social li a:hover{
	color: #eeeeee;
}

#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left: 5px;
	font-weight: 700;
}

#footer ul.quick-links li a i{
	margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

/* End Footer */

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .navbar-dark .navbar-nav .nav-link {
    border-bottom: 2px solid transparent;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 2px solid var(--yellow);
  }

  .upvotes-chart {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
