{% extends "tracker/base.html" %} {% block content %}
<section class="about-section">
  <div class="row text-center mb-3 ">
    <div class="col-lg-12">
      <div class="ptext about-header">
        <span class="bord">
          About Unicorn
        </span>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <p class="about mt-3">Unicorn is a web app aimed at fixing bugs and creating new features for our service.  Users are welcome and can register to start using our services.  Unicorn allows users to log their tickets which will appear on the list of tickets on the homepage.  We will fix these bugs for free and we will use the popularity of bugs to prioritize fixes.  To help us decide you the user can click the upvote symbol in post descriptions.  We also provide a features service which is similar to our bug fixing service, you the user can suggest a new feature for us to develop but to enable us to develop a feature we need to charge a fee to upvote a feature request.  If a feature request gets a certain number of upvotes we will develop the feature fo our users.
      </p>
    </div>
  </div>
  <div class="row mbr-justify-content-center">
    <article class="col-lg-6 mbr-col-md-10">
      <div class="wrap">
        <div class="ico-wrap">
          <span class="mbr-iconfont fa-volume-up fa"></span>
        </div>
        <div class="text-wrap vcenter">
          <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Report Bugs</h2>
          <p class="mbr-fonts-style text1 mbr-text display-6 about-card">Report your bugs and we will fix them for free.. Contribute to other users bugs.</p>
        </div>
      </div>
    </article>
    <article class="col-lg-6 mbr-col-md-10">
      <div class="wrap">
        <div class="ico-wrap">
          <span class="mbr-iconfont fa-calendar fa"></span>
        </div>
        <div class="text-wrap vcenter">
          <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
            Fast turnaround
          </h2>
          <p class="mbr-fonts-style text1 mbr-text display-6 about-card">We strive to always get problems solved as quickly as possible.</p>
        </div>
      </div>
    </article>
    <article class="col-lg-6 mbr-col-md-10">
      <div class="wrap">
        <div class="ico-wrap">
          <span class="mbr-iconfont fa-globe fa"></span>
        </div>
        <div class="text-wrap vcenter">
          <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Features Development
          </h2>
          <p class="mbr-fonts-style text1 mbr-text display-6 about-card">Got a feature you like..we can build it for you no problem..</p>
        </div>
      </div>
    </article>
    <article class="col-lg-6 mbr-col-md-10">
      <div class="wrap">
        <div class="ico-wrap">
          <span class="mbr-iconfont fa-trophy fa"></span>
        </div>
        <div class="text-wrap vcenter">
          <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Achieve Your Targets
          </h2>
          <p class="mbr-fonts-style text1 mbr-text display-6 about-card">With us you can be sure to meet your targets on schedule</p>
        </div>
      </div>
    </article>
  </div>
</section>
{% endblock content %}
