{% extends "tracker/base.html" %}
{% block content %}
  <article class="post-detail card mt-3 mb-3">
    <div class="row">
      <div class="col-lg-2">
        <img src="{{ object.author.profile.image.url }}" class="img-fluid" alt="avatar">
        {% if object.author == user %}
          <a href="{% url 'post-update' object.id %}"><i class="far fa-edit ml-1 edit-post"></i></a>
          <a href="{% url 'post-delete' object.id %}"><i class="fas fa-eraser ml-1 rubber"></i></a>
        {% endif %}
      </div>
      <div class="col-lg-8">
        <h5 class="card-title green">{{ object.title }}</h5>
        <p class="card-text">{{ object.content }}</p>
        <a href="{% url 'comment-create' object.id %}"><i class="far fa-comment-dots mr-2"></i></a>
        <a href="#"><i class="fas fa-thumbs-up mr-2"></i></a>
      </div>
      <div class="col-lg-2 post-detail flex">
        <small class="viewed pl-2 pr-2">Views: 8</small>
        <small class="replied pl-2 pr-2">Replies: {{ object.get_comment_total }}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-header mb-1">
          <small><a class="mr-2 author" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></small>
          <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
      </div>
    </div>
    {% for comment in post.comments.all %}
      <div class="row user-replies mb-2 pl-2">
        <div class="col-lg-12">
          <p>{{ comment.text }}</p>
          <small class="mr-2 user-name">{{ comment.author }}</small>
          <small class="text-muted">{{ comment.created_date|date:"F d, Y" }}</small>
          <hr>
        </div>
      </div>
    {% endfor %}
  </article>
{% endblock content %}
