{% extends "tracker/base.html" %}
{% block content %}
  <div class="card border-secondary mb-3 mt-3">
    <div class="row">
      <div class="col-lg-1">
        <img src="{{ object.author.profile.image.url }}" class="img-fluid" alt="author-image">
      </div>
      <div class="col-lg-11">
        <h5 class="card-title green">{{ object.title }}</h5>
        <p class="card-text">{{ object.content }}</p>
      </div>
    </div>
    <div class="card-header">
      <a href="{% url 'user-posts' object.author.username %}"><h5>{{ object.author }}</h5></a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <div class="bug-comments">
      <p>Boom shackalack pimpin' arcu. Donec ante. Funky fresh placerizzle i'm in the shizzle at you son of a bizzle. Shut the shizzle up izzle tortizzle. Cras izzle get down get down izzle mi consectetizzle hizzle. Yippiyo ipsum dolizzle sizzle amizzle, phat break it down away. Curabitur elit arcu, things nizzle, hizzle yo, mollis mah nizzle, fo shizzle.</p>
    </div>
    {% if object.author == user %}
      <div class="">
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
    {% endif %}

  </div>
{% endblock content %}
