{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h3>Profile Info</h3>
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h4 class="account-heading">{{ user.username }}</h4>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Profile Info</h3>
    <!-- <label>
      <p class="label-txt"></p>
      <input type="text" class="input">
      <div class="line-box">
        <div class="line"></div>
      </div>
    </label> -->
    {{ u_form|crispy }}
    {{ p_form|crispy }}
    <button type="submit">Update</button>
  </form>
{% endblock content %}
