{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="section register-section">
      <form method="POST">
        {% csrf_token %}
        <h3>Register</h3>
        <!-- <label>
          <p class="label-txt"></p>
          <input type="text" class="input">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label> -->
        {{ form|crispy }}
        <button type="submit">submit</button>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Already have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
      </div>
    </div>
{% endblock content %}
